*.log
*.temp
*.xls
/out/
/gen/
*.class
/webapp/src/main/resources/conf/config.xml

*.jar

#tomcat日志以及临时缓存
*tomcat*/logs/
*tomcat*/bin/logs/
*tomcat*/temp/
*tomcat*/webapps/
*tomcat*/work/

#工程相关
/.idea/
*.iml
#/.idea.zip
target/
overlays/
WEB-INF/lib/
WEB-INF/classes/
/logs/
