.classpath
!/.project
.project
.settings
target/
.idea/
.DS_Store
.idea
overlays/

*.log
*.temp
*.xls
/out/
/gen/
*.class
*.jar
/webapp/src/main/resources/conf/config.xml

#tomcat日志以及临时缓存
*tomcat*/logs/
*tomcat*/bin/logs/
*tomcat*/temp/
*tomcat*/webapps/
*tomcat*/work/

#工程相关
/.idea/
*.iml
/.idea.zip
WEB-INF/lib/
WEB-INF/classes/
/logs/
